---
layout: default
---

<div class="home">

  <h1 class="page-heading">About</h1>
  <img src="/assets/img/organisms.jpg"  style="clear:left: left;margin-left: 1px;margin-bottom: 7px; height: 300px;">
 
  <br class="blank"/>

  <p> Welcome to the Parins-Fukuchi lab! We are part of the <a href="https://eeb.utoronto.ca/">Department of Ecology and Evolutionary Biology</a> at the <a href="https://www.utoronto.ca/">University of Toronto.</a> Work in the lab involves developing new computational approaches to bear on two driving questions: 1) what evolutionary processes contribute to the emergence of novel phenotypes? and 2) what are our abilities and limitations in reconstructing the population level processes that shaped major episodes of evolutionary innovation and diversification? We apply these methods and questions across a range of study systems in both plants and animals.
  
  <br>
  <br>

  <h1 class="page-heading">Updates</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts limit 8 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <!--<p>{{ post.excerpt }}</p>-->
        <div class="wrapper-nopadding">
            {{ post.content }}
        </div>
        <!--{{ post.content | strip_html | truncatewords:75}}<br>
        <a href="{{ post.url }}">Read more...</a>-->
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
