---
layout: default
---

<div class="home">

  <h1 class="page-heading">About me</h1>
  <img src="/assets/img/self2.jpeg"  style="clear:left: left;margin-left: 1px;margin-bottom: 7px; height: 300px;">
 
  <br class="blank"/>

  <p> I am a computational evolutionary paleobiologist and vertebrate paleontologist. My research is focused on identifying the patterns and higher-level processes underlying the emergence of novel suites of phenotypic traits. This involves incorporating organismal complexity from the developmental to the ecological levels better understand both the external contexts and underlying constraints that guide phenotypic innovation. Although my research sometimes brings me across vertebrates, I use fossil and living primates as my primary study system to address these questions, focusing most heavily on the Hominoidea (apes). By bringing novel computational approaches that accommodate complexity in morphological function, I am interested in both harnassing the primate fossil record to illuminate broader issues in evolutionary theory and contributing to a stronger understanding of the evolutionary processes that shaped the vast diversity of living primates.

  <br>
  <br>

  <h1 class="page-heading">Updates</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts limit 8 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <!--<p>{{ post.excerpt }}</p>-->
        <div class="wrapper-nopadding">
            {{ post.content }}
        </div>
        <!--{{ post.content | strip_html | truncatewords:75}}<br>
        <a href="{{ post.url }}">Read more...</a>-->
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
